.container.vertical-center
  %p#notice= notice

  %p
    %b Name:
    = @attendee.first_name + " " + @attendee.last_name
  %p
    %b Email:
    = @attendee.email

  = link_to 'Edit', edit_attendee_path(@attendee)
  = link_to 'Delete', @attendee, :method => :delete
  = link_to 'Home', root_path
